<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>This is Home Page</h1>
    <ul class="menu-list">
      <% for(var i = 0 ; i < data.length; i++) { %>
          <li><%= data[i].kanji %></li>
      <% } %>
    </ul>
  </body>
</html>